nav,.contenedor, footer, article, header, .principal, aside{
    max-width: 94%;
    margin: auto;
    text-align: center;
    border-radius: 0.2em;
}
nav{
     background-color: #005883;
}
.contenedor{
    background-color: #005883;
}
footer{
    background-color: #005883;
    height: auto;
}
article{
    background-color: #005883;
}
header{
    background-color: #005883;
    margin-top: 3em;
    height: auto;
    min-height: 7em;
    padding-top: 1em;
}
.principal{
    background-color: white;
    display: inline-block;
    width: 65%;
    min-width: 20em;
    vertical-align: top;
    margin: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
}
aside{
    background-color: white;
    display: inline-block;
    width: 25%;
    min-width: 20em;
    margin: 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
}
nav, h1, h2, h3, h4, h5, p{
    font-family: "Angsana New Bold";
}
h1{
    font-size: 2.2em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
h2{
    font-size: 1.5em;
    color: white;
    background-color: #005883;
    border-radius: 0.2em;
}
h3{
    font-size: 1.2em;
    color: white;
    background-color: #005883;
    border-radius: 0.2em;
}
h4{
    font-size: 1.1em;
    color: white;
    text-shadow: 1px 1px 1px black;
}
h5{
    font-size: 1em;
    color: #005883; 
}
p{
    font-size: 1em;
    text-align: justify;
    color: #005883;
    margin-left: 1em;
    margin-right: 1em;
}
/*Estilos del menu*/
.menu li{
    display: inline-block;
}
li a, btnDesplegable{
    display: inline-block;
    color: white;
    padding: 0.9em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}
.contenidoDesplegable{
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 8em;
}
.contenidoDesplegable a{
    color: white;
    padding: 0.9em 1em;
    display: block;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}
.contenidoDesplegable a:hover{
    background-color: #005883;
}
.desplegable:hover .contenidoDesplegable{
    display: block;
}
li a:hover{
    background-color: gray;
}
